.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
test.tfvars
*.zip
terraform.tfvars
!tests/scenarios/**/terraform.tfvars
CaCertificate-langfuse.pub
kubeconfig
*.backup_
*.tfstate_
tests/artifacts/*
!tests/artifacts/README.md
tests/.terraform.d/
tests/.obc/
tests/.env
tests/.env.local
