# Enhanced cluster fixture example values.
# Populate this file when implementing the cluster fixture Terraform config.

region                 = "us-chicago-1"
tenancy_ocid           = "ocid1.tenancy.oc1.."
oci_profile            = "DEFAULT"
cluster_compartment_id = "ocid1.compartment.oc1.."

cluster_name        = "tests-enhanced-cluster"
kubernetes_version  = "v1.34.1"
is_endpoint_public  = false
create_bastion      = true
node_pool_size      = 2
node_shape          = "VM.Standard.E5.Flex"
node_shape_ocpus    = 4
node_shape_memory_gb = 16
